# Setting up the loadpath
# =======================
#
$LOAD_PATH.unshift 'lib'

require 'bundler/setup'
require 'app'


# Exceptionist configuration
# ==========================
#

# Configure your ES server and port
Exceptionist.elasticsearch_host = 'localhost:9200'

# Credentials for accessing the web app, remove if you do auth in another way
Exceptionist.enable_authentication('username', 'password')

# Configure your base url for the report mails
# Exceptionist.config[:base_url] = 'http://www.example.org'

# Configure your mail server for daily reports
# Exceptionist.config[:smtp_settings] = {
#   :host => 'mail.example.org',
#   :port => 25,
#   :user => 'example_user',
#   :pass => 'example_password',
#   :auth => :login
# }

# Project list
# ============
#

# The list of all the projects you want to have in Exceptionist
#
#   * the name needs to be a valid URL slug
#   * the key needs to be unique in this list

Exceptionist.add_project 'project-name', 'UNIQUE_API_KEY'

# Aggregator config
# =================
#
# Exceptionist.global_exception_classes << 'Mysql::Error'
# Exceptionist.timeout_exception_classes << 'Patron::TimeoutError'
