# Setting up the loadpath
# =======================
#
$LOAD_PATH.unshift 'lib'

require 'rubygems'
require 'bundler/setup'
require 'app'


# Exceptionist configuration
# ==========================
#

# Configure your MongoDB server and port
Exceptionist.mongo = 'localhost:27017'

# Credentials for accessing the web app, remove if you do auth in another way
Exceptionist.enable_authentication('username', 'password')

# Configure your base url for the report mails
# Exceptionist.config[:base_url] = 'http://www.example.org'

# Configure your mail server for daily reports
# Exceptionist.config[:smtp_settings] = {
#   :host => 'mail.example.org',
#   :port => 25,
#   :user => 'example_user',
#   :pass => 'example_password',
#   :auth => :login
# }

# Project list
# ============
#

# The list of all the projects you want to have in Exceptionist
#
#   * the name needs to be a valid URL slug
#   * the key needs to be unique in this list

Exceptionist.add_project 'project-name', 'UNIQUE_API_KEY'

# Aggregator config
# =================
#
# Exceptionist.aggregators.add ['Mysql::Error', 'RuntimeError', 'SystemExit'] do |occurrence|
#   "#{occurrence.exception_class}:#{occurrence.exception_message}"
# end
#
# Exceptionist.aggregators.add 'Timeout::Error' do |occurrence|
#   first_non_lib_line = occurrence.exception_backtrace.detect { |line| line =~ /\[PROJECT_ROOT\]/ }
#   "#{occurrence.exception_class}:#{occurrence.exception_message}:#{first_non_lib_line}"
# end
