# Setting up the loadpath
# =======================
#
$LOAD_PATH << File.join(File.dirname(__FILE__), 'lib')

require 'rubygems'
require 'app'


# Exceptionist configuration
# ==========================
#

# Configure your Redis server and port
Exceptionist.redis = 'localhost:6379'

# Configure your mail server for daily reports
# Exceptionist.config[:smtp_settings] = {
#   :host => 'mail.example.org',
#   :port => 25,
#   :user => 'example_user',
#   :pass => 'example_password',
#   :auth => :login
# }


# Filter config
# =============
#

# An example which filters out exceptions triggered by common search bots
# Exceptionist.filter.add :nonbot do |occurrence|
#   occurrence.user_agent !~ /(Google|Slurp|bot)/
# end


# Aggregator config
# =============
#
# Exceptionist.aggregators.add ['Mysql::Error', 'RuntimeError', 'SystemExit'] do |occurrence|
#   "#{occurrence.exception_class}:#{occurrence.exception_message}"
# end
#
# Exceptionist.aggregators.add 'Timeout::Error' do |occurrence|
#   first_non_lib_line = occurrence.exception_backtrace.detect { |line| line =~ /\[PROJECT_ROOT\]/ }
#   "#{occurrence.exception_class}:#{occurrence.exception_message}:#{first_non_lib_line}"
# end
