<div id="<%= holder_div_id %>" style="width:870px; height: 220px"></div>
<script type="text/javascript" charset="utf-8">
  var data = [<%= data.map { |day| "[#{day.first.to_i * 1000}, #{day.last}]" }.join(",") %>];

  var options = {
    series: {
      bars: { lineWidth: 0, show: true, fill: 1, fillColor: "#8486CE", barWidth: 20 * 60 * 60 * 1000, align: "center" },
      color: "#8486CE",
    },
    grid: {
      color: "#666",
      borderColor: "#cccccc",
      borderWidth: 1
    },
    xaxis: { mode: "time" },
    yaxis: {min: 0}
  }

  $.plot($("#<%= holder_div_id %>"), [data], options);
</script>
