<div id="<%= holder_div_id %>" style="width:870px; height: 220px"></div>
<script type="text/javascript" charset="utf-8">
    var exceptions_a_day = [<%= data.map { |day| "[#{day.first.to_i * 1000}, #{day.last}]" }.join(",") %>];
    var deploys = [<%= deploys.map { |deploy| "[#{deploy.occurred_at.to_i * 1000}, 0]" }.join(",") %>];
    var data = [{
        data: exceptions_a_day,
        bars: { lineWidth: 0, show: true, fill: 1, fillColor: "#8486CE", barWidth: 20 * 60 * 60 * 1000, align: "center" }
    },{
        data: deploys,
        points: { radius: 4, show: true, fillColor: "#990000" }
    }];

    var options = {
        series: {
        },
        grid: {
            color: "#666",
            borderColor: "#cccccc",
            borderWidth: 1
        },
        xaxis: { mode: "time" },
        yaxis: {min: 0}
    }

    $.plot($("#<%= holder_div_id %>"), data, options);
</script>
