<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'The Exceptionist' %></title>
  <link type="text/css" href="/stylesheets/blueprint.css" rel="stylesheet" media="screen"/>
  <link type="text/css" href="/stylesheets/exceptionist.css" rel="stylesheet" media="screen"/>

  <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.flot.time.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="container prepend-top">
    <div id="project_nav">
      <% if @backlink %>
      <a href="javascript:history.go(-1)">&uarr; Back</a> |
      <% end %>
      <% if @is_dashboard %>
      <a href="/river">River</a>
      <% else %>
      <a href="/">Dashboard</a>
      <% end %>
    </div>

    <%= yield %>

    <hr class="space">
  </div>
</body>
</html>
