html{
  word-wrap: break-word;
}

#project_nav {
  margin-top: 12px;
  font-weight: bold;
  float: right;
  font-size:1.1em;
}

#project_nav a {
  text-decoration: none;
}

a.silent_link {
  text-decoration: none;
  color: #222;
}

a.silent_link:hover {
  text-decoration: underline;
}

div.sorting_links {
  margin-bottom: 7px;
}

div.sorting_links a {
  text-decoration: none;
  font-weight: bold;
}

span.divider {
  margin: 0 2px;
}

button.action_button {
  margin: 0px 3px;
}

div.head_box {
  padding: 5px;
  background-color: #D3D3D7;
  font-size: 1.3em;
  color: #111;
}

div.message_box {
  padding: 5px;
  font-size: 1.2em;
}

div.action_box {
    padding: 5px;
    font-size: 1.2em;
    background-color: #e8e8e8;
}

dd.backtrace {
  background-color: #0B0F21;
  color: #fff;
  white-space: pre;
  overflow: auto;
  max-height: 280px;
  padding: 8px 10px;
}

dd.nice_hash {
  white-space: pre;
}

dd {
  margin-bottom: 10px;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

span.box {
    float: right;
    font-size: 1.2em;
    padding: 6px 8px;
}

span.occurrences_count {
  background-color: #ddd;
  color: #777;
}

span.new {
    background-color: #F0113E;
    color: #ddd;
    margin-right: 10px;
}

.project-label {
  background: #666;
  color: white;
  padding: 1px 6px;
  margin-right: 3px;
}

.append-tiny-bottom {
  margin-bottom: 0.5em;
}

.low {
    background-color: #F5F8E5;
}

.high {
    background-color: #FCEBEC;
}

.padding {
    padding: 0 5px;
}


/* -------------------------------------------------------------- 
  
   buttons.css
   * Gives you some great CSS-only buttons.
   
   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element

   See Readme.txt in this folder for instructions.

-------------------------------------------------------------- */

a.button, button {
  display:block;
  float:left;
  margin: 0.7em 0.5em 0.7em 0;
  padding:5px 10px 5px 7px;   /* Links */
  
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  background-color:#f5f5f5;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
}
button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px;   /* IE6 */
}
button[type] {
  padding:1px 7px 2px 4px;   /* Firefox */
  line-height:17px;           /* Safari */
}
*:first-child+html button[type] {
  padding:4px 10px 3px 7px;   /* IE7 */
}
button img, a.button img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
}

/* Button colors
-------------------------------------------------------------- */

/* Standard */
button:hover, a.button:hover{
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
}
a.button:active{
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* Positive */
body .positive {
  color:#529214;
}

a.positive:hover, button.positive:hover{
  background-color:#C6D880;
  border:1px solid #C6D880;
  color:#529214;
}

.positive.active {
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

/* Negative */
body .negative {
  color:#d12f19;
}

a.negative:hover, button.negative:hover {
  background-color:#FFA6A6;
  border:1px solid #fbc2c4;
  color:#d12f19;
}

.negative.active {
    background-color:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
